{% extends "base.html" %}
{% block content %}
  <form class="bg-white my-10 max-w-[600px] mx-auto flex flex-col gap-14 p-8 rounded">
    <section class="border-b border-slate-300 pb-14">
      <h2>Get your daily written standup based on your github commits</h2>
      <div class="flex flex-col gap-5">
        <div>
          <div>
            <label for="username">Github username:</label>
            <input type="text"
                   id="username"
                   value={{username}}
                   name="username"
                   required/>
          </div>
        </div>
        <div>
          <div>
            <label for="date">Date:</label>
            <input type="date"
                   id="date"
                   value={{date}}
                   name="date"
                   required/>
          </div>
        </div>
        <div>
          <div>
            <label for="api-key">OpenAI Key:</label>
            <input type="text"
                   id="api-key"
                   value={{api_key}}
                   name="api-key"
                   required/>
          </div>
        </div>
      </div>
    </section>
    <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
            type="submit">
      Get daily written standups
    </button>
    {% if text_result %}
      <div>Your written standup result: <br /> {{text_result}}</div>
    {% else %}
      <p>There's no written standup for this date. Try changing to another one.</p>
    {% endif %}
  </form>
{% endblock content %}
